{% extends 'layout.html' %} 
{% block content %}

<div class="vista form-data">
  <form action="/Pasajero_Equipaje" method="POST">
    <div class="form-row">
      <div class="column">
        <h2>Datos personales</h2>
        <table border="1" class="table_vuelo">
          <thead>
            <tr>
              <th>CI</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <!-- <th>Id Vuelo</th> -->
              <th>Qty Maletas</th>
              <th>Peso Equipaje</th>
              <th>Editar</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {%for pasajero in pasajeros%}
            {%if pasajero.6 == '1'%}
            <tr>
              <td>{{pasajero.1}}</td>
              <td>{{pasajero.3}}</td>
              <td>{{pasajero.2}}</td>
              <!-- <td>{{pasajero.id_vuelo}}</td> -->
              <td>{{pasajero.9}} Maletas</td>
              <td>{{pasajero.10}} libras</td>
              <td>
                <div class="row-button">
                <a class="editar" href="/passenger/edit/{{pasajero.0}}">Editar</a>
              </div>
              </td>
              <td>
                <div class="row-button"></div>
                <a class="borrar" href="/passenger/delete/{{pasajero.0}}">Eliminar</a>
              </div>
              </td>
            </tr>
            {%endif%}
            {%endfor%}
          </tbody>
        </table>
        
      </div>
    </div>
  </form>
</div>
{% endblock %}

