{% extends 'layout.html' %} 
{% block content %}

<div class="vista form-data">
  <form action="/Pasajero_Equipaje" method="POST">
    <div class="form-row">
      <div class="column">
        <h2>Datos personales</h2>
        <table border="1" class="table_vuelo">
          <thead>
            <tr>
              <th>CI</th>
              <th>Apellido</th>
              <th>Nombre</th>
              <!-- <th>Id Vuelo</th> -->
              <th>Qty Maletas</th>
              <th>Peso Equipaje</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            {%for pasajero in pasajeros%}
            <tr>
              <td>{{pasajero.ci}}</td>
              <td>{{pasajero.apellido}}</td>
              <td>{{pasajero.nombre}}</td>
              <!-- <td>{{pasajero.id_vuelo}}</td> -->
              <td>{{pasajero.cantidadMaletas}}</td>
              <td>{{pasajero.pesoEquipaje}}</td>
              <td>
                <a href="{{url_for('passenger.edit',id=pasajero.idPasajero)}}">Editar</a>
                <a href="{{url_for('passenger.delete,id=pasajero.idPasajero')}}">Elimimar</a>
              </td>
            </tr>
            {%endfor%}
          </tbody>
        </table>
        
      </div>
    </div>
  </form>
</div>
{% endblock %}

