{%extends 'layout.html'%}
{% block content %}
<div class="vista form-data">
    <form action="">
        <div class="column">
            <h2>Registro Equipaje</h2>
            <label for="nombre">peso total</label>
            <input type="number" name="peso" id="peso" required />
    
            <label for="ci">cantidad de Maletas</label>
            <input type="number" name="cantidad" id="cantidad" required />
        </div>
        <div class="content-button">
            <a href="">siguiente</a>
        </div>
    </form>

</div>

{%endblock%}