{%extends 'layout.html'%}
{% block content %}
<div class="vista form-data">
    <form action="">
        <div class="column">
            <h2>Registro Equipaje</h2>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" required />
    
            <label for="ci">CI:</label>
            <input type="text" name="ci" id="ci" required />
    
            <label for="telefono">Teléfono:</label>
            <input type="tel" name="telefono" id="telefono" required />
          </div>
    </form>

</div>

{%endblock%}