{%extends 'layout.html'%}

{%block content%}
<div class="vista form-data">
    <form action="/registro_cliente" method="POST">
      <div class="form-row">
        <div class="column">
          <h2>Registro pasajero</h2>
          <label for="nombre">Cedula de identidad</label>
          <input type="text" name="ci" id="ci" required />
  
          <label for="ci">nombre y apellido</label>
          <input type="text" name="nombre" id="nombre" required />
  
          <label for="telefono">Teléfono:</label>
          <input type="tel" name="telefono" id="telefono" required />
        </div>
  
        <div class="column">
          <h2>&nbsp;</h2>
          <label for="apellido">Apellido:</label>
          <input type="text" name="apellido" id="apellido" required />
  
          <label for="correo">Correo electrónico:</label>
          <input type="email" name="correo" id="correo" required />
        </div>
      </div>
      <div class="content-button">
        <a href="{{url_for('vuelo.register')}}">siguiente</a>
      </div>
    </form>
  </div>
{%endblock%}