    body {
        font-family: Verdana, sans-serif;
        background-image: url("./image/flight2.jpg") ;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        background-blend-mode: lighten;
        margin: 0;
        color: #000000;
    }

    .nav {
        display: flex;
        width: auto;
        background-color: #183D3D;
        padding:30px 20px 30px 20px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        margin-bottom: 25px;
        justify-content: space-between;
    }

    .nav-element {
        color: white;
        text-decoration: none;
        font-size: 20px;
    }

    .nav-element:hover {
        color: #eadeff;

    }

    .welcome-screen {
        display: flex;
        align-items: center;
        flex-direction: column;
        
    }

    .welcome-message {
        color: #333;
        font-size: 36px;
        display: block;     
        width: 250px;
        margin: 15px;
        text-align: center;
    }

    .text-message {
        color: #1b1b1b;
        font-size: 21px;
        display: block;      
        width: 500px;
        margin: 15px;
        text-align: center;
    }     

    .PanelBotones{
        display: flex;
        color: white;
        width: 450px;
        margin: 0 auto;
        padding: 15px;
        justify-content: center;
        background-color: #fefefe;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        margin-bottom: 25px;
    }

    .botonPanel{
        text-decoration: none;
        width: 80px;
        margin: 2px 20px;
        text-align: center;
        cursor: pointer;
        background-color: #eb413b;
        padding: 10px;
        color: #000000;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px 0px;
        transition: background-color 0.2s ease;
    }
   
    .botonPanel:hover{
        background-color: #dba134;
    }

    .container {
        background-color: #fefefe;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 5px;
        width: 1080px;
        margin: 0 auto;
        padding: 15px;
        margin-bottom: 25px;
    }

    .botonAdmin{
        text-decoration: none;
        width: 80px;
        margin: 2px 20px;
        text-align: center;
        cursor: pointer;
        background-color: #eb413b;
        padding: 10px;
        color: #000000;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
        border-radius: 10px 0px;
        transition: background-color 0.2s ease;
    }

    .botonAdmin:hover{
        background-color: #dba134;
    }

    .contain{
        display: flex;
        margin: 25px;
        justify-content: flex-start;
    }
    
    .input input{
        margin: 0px 25px 0px 0px;
        border-radius: 2px;
        border: 2px solid #ccc;
        appearance: none;
        background-color: white;
        padding: 5px 10px;
    }

    .input label{
        margin: 0px 0px 0px 10px;      
    }

    .register-screen {
        display: flex;
        justify-content: center;    
    }

    .tittle{
        width: 350px;
        margin: 0 auto;
        text-align: center;
    }

    .content-button{
        display: flex;
        justify-content: center;        
    }

    .btn-register{
        background-color: #ffffff;
        width: 80px;
        margin: 2px 20px;
        padding: 10px;
        color: #eb413b;
        border-color: #eb413b ;
        border-style: double;
        border-radius: 10px 0px;
        transition: background-color 0.2s ease, border-color 0.4s ease, color 0.3s ease, border-radius 0.2s ease-in-out;
    }

    .btn-register:hover{
        background-color: #eb413b;
        border-color: #ffffff ;
        color: #ffffff;
        border-radius: 0px 10px;
    }

    footer {
        display: flex;
        background-color: #040d12;
        color: white;
        padding: 5px;
        text-align: center;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        justify-content:space-between;
    }

    footer p{
        display: block;
        padding: 0 150px 0 50px;
    }

    