body {
    font-family: Verdana, sans-serif;
    background-color: #e8e8e8;
    margin: 0;
    }

    .container {
        flex-direction: column;
        min-height: 100vh;

    }
    .nav {
        background-color: #10004f;
        color: white;
        width: auto;
        margin: 0 auto;
        padding:25px 20px 55px 20px;
        border-width: 1px;
        /*border-radius: 0px;
        border-style: solid;*/
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        margin-bottom: 25px;

    }

    .nav a {
        color: white;
        text-decoration: none;
    }

    .nav a:hover {
        text-decoration: none;
    }

    .vista {           
        background-color: #FBFBFF;
        border-color: #ffffff;
    }



    .vista {
        display: flex;
        width: 85%;
        margin: 0 auto;
        background-color: #ffffff;
        flex-direction: column;
        padding:15px 10px 15px 10px;
        border-width: 5px;
        border-radius: 5px;
        border-style: solid;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        margin-bottom: 25px;
    }
    .line{
        display: block;
    }
    .left{
        float: left;   
        font-size: 25px; font-family: Audiowide, sans-serif;   
    }

    .right{
        float: right;       
    }

    .PanelBotones {
        display:block ;
        width: 30%;
        color: white;
        background-color: #ffffff;
        margin: 0 auto;
        padding:15px 10px 15px 10px;
        border-width: 5px;
        border-radius: 5px;
        border-style: solid;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
        margin-bottom: 25px;
        text-align: center;
    }
    .boton {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
    }

    footer {

        background-color: #000000;
        color: white;
        padding: 20px;
        text-align: center;
        margin-top: auto;
    }

    .PiePagina{
        display: flex; flex-direction: column;
    }

    .form-data2 {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;  


    }

    .form-row2{
        display: inline;
        margin: 0 auto; 
        justify-content: center;    
        
    }

    div .form-row2 {
        display: inline;
    }

    .top_idvuelo{
        display: block;
        width: auto;      
        /*margin: 0 auto;   */
        /*padding: 10px;      */
    }

    .top_id_vuelo{
        display: block;
        width: auto;
        margin: 0 auto;
        padding: 8px 8px 8px 8px;
    }

    .diventradatexto{
        display: block;
        width: auto;
        /*adding: 0px 10px 10px 10px;*/
    }

    .entradatexto{
        display: block;
        box-sizing: border-box;
        border-radius: 5px;
        padding: 7px 9px;
        border: 2px solid #ccc;
        /*margin: 0 auto;*/
        border: 3px initial transparent;
    }

    .botonbuscar {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 15px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0 auto;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        border: 25px;
    }

    .table_vuelo {    
        margin: 0 auto;
        width: 75%;
        border-collapse:  collapse;
        padding: 30px;
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    }
    
    
    .table_vuelo td {
        padding: 5px;
        text-align: center;
        border-bottom: 1px solid #ddd;
    }
      
    .table_vuelo th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: center;
        background-color: #19007b;
        color: rgb(0, 0, 0);
        color: #ffffff;
    }
    
    .table_vuelo tr:nth-child(even) {
        background-color: #ffffff;
    }

    
    .row-button {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-top: 10px; 
      }
    
      .column-button {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
      }
    
      .editar {
        text-decoration: none;
        background-color: #4CAF50; 
        color: white;
        padding: 10px;
        margin-bottom: 5px; 
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    
      .editar:hover {
        background-color: #45a049; 
      }
    
      .borrar {
        text-decoration: none;
        background-color: #FF0000; 
        color: white;
        padding: 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
    
      .borrar:hover {
        background-color: #cc0000; 
      }




    .entradatexto2{
        display: inline;
        width: 50%;
        padding: 8px;
        margin: 10px;
        box-sizing: border-box;
        border-radius: 5px;
        border: 2px solid #ccc;
    }

    .small-input {
        font-size: 14px;
        padding: 10px;
        width: 100%;
        background-color: transparent;
        outline: none;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
    
    .small-input:focus {
        border-bottom: 2px solid #19007b;
    }

    .labelClase{
        display: block;
        padding: 10px;
    }

    .botonregister {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 8px 19px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 10px 8px;
        cursor: pointer;
        border-radius: 5px;
        display: inline-block;
    }