{% extends 'layout.html' %} 
{% block content %}
<div>
      <h1>Factura</h1>
    <table border="1" class="table_vuelo">
      <thead>
        <tr>
          <th>IdFactura</th>
          <th>CI cliente</th>
          <th>ID Vuelo</th>
          <th>V. Total</th>
          <th>F. Pago</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
          <tr>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>

            <td>

            </td>

            <td>

            </td>
        
            <td>
                <div class="row-button">
                    <div class="column-button">
                        <a href="#" class="editar">Editar</a>
                        <a href="#" class="borrar">Borrar</a>
                      </div>
                </div>
            </td>

          </tr>  
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
