{% extends 'layout.html' %} 
{% block content %}

<form action="{{ url_for('boleto.registroPago')}}" method="POST" class="form-data">
  <h1>Metodo de pago</h1>
  <div class="form-row">
    <div class="column">
      <label for="fechaSalida">CI cliente</label>
      <input type="number" name="cicliente" required="true" />
    </div>
    <div class="column">
      <label for="horaLlegada">valor</label>
      <input type="number" name="valor" required="true" />
    </div>
  </div>
  <div class="form-row">
    <div class="column">
      <label for="metodoPago">Metodo de pago</label>
      <select name="metodoPago" class="small-input" required="true">
        <option value="">Seleccione un método de pago</option>
        <option value="tarjetaCredito">Tarjeta de Crédito</option>
        <option value="tarjetaDebito">Tarjeta de Débito</option>
        <option value="paypal">PayPal</option>
        <option value="transferenciaBancaria">Transferencia Bancaria</option>
      </select>
      <div class="content-button">
        <button class="btn-register" type ="submit">continuar</button>
      </div>
    </div>
  </div>
</form>

{%endblock%}
