{% extends 'layout.html' %} 
{% block content %}
<section class="form-data2">
    <div>
        <h2>Administrar cliente</h2>
      <table border="1" class="table_vuelo">
        <thead>
          <tr>
            <th>Ci</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Correo</th>
            <th>Telefono</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>         
            {%for cliente in dataCliente%}
            {%if cliente.5 == '1'%}                      
            <tr>
              <td>
                {{cliente.0}}
              </td>
              <td>
                {{cliente.1}}
              </td>
              <td>
                {{cliente.2}}
              </td>
              <td>
                {{cliente.3}}
              </td>
              <td>
                {{cliente.4}}
              </td>
              <td>
                <a class="editar" href="/client/editCliente/{{cliente.0}}">Editar</a>
                <a class="borrar" href="/client/deleteClient/{{cliente.0}}">Elimimar</a>
              </td>
            </tr>
            {% endif %}
            {%endfor%}
         
        </tbody>
        
      </table>
    </div>
  </section>
{% endblock %}
