{% extends 'layout.html' %} 
{% block content %}

<div class="vista form-data">
  <form action="/registro_pasajero" method="POST">
    <div class="form-row">
      <div class="column">
        <h2>Datos personales</h2>
        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" required />

        <label for="ci">Cédula de identidad:</label>
        <input type="text" name="ci" id="ci" required />

        <label for="telefono">Teléfono:</label>
        <input type="tel" name="telefono" id="telefono" required />
      </div>

      <div class="column">
        <h2>&nbsp;</h2>
        <label for="apellido">Apellido:</label>
        <input type="text" name="apellido" id="apellido" required />

        <label for="correo">Correo electrónico:</label>
        <input type="email" name="correo" id="correo" required />
      </div>
    </div>

    <div class="form-row">
      <div class="column">
        <h2>Datos de Boleto</h2>
        <label for="CantMaletas">clase de vuelo</label>
        <select name="clase" id="clase">
          <option value="">primera clase</option>
          <option value="">clase ejecutiva</option>
          <option value="">clase economica</option>
        </select>
      </div>

      
    </div>

    <div class="content-button">
      <a href="">finalizar</a>
    </div>
  </form>
</div>
{% endblock %}
