{% extends 'layout.html' %} 
{% block content %}

<div class="welcome-screen">
    <h2 class="welcome-message">Administrador de base de datos e informacion </h2>
</div>
<div>
    <label>Administrar Clientes</label>
    <a class="btn-admini" href="/client/cliente_ver"> ➤ </a>
</div>
<div>
    <label>Administrar Vuelos</label>
    <a class="btn-admini" href="/flight/ver_vuelo"> ➤ </a>
</div>
<div>
    <label>Administrar Factura </label>
    <a class="btn-admini" href="/factura/ver_factura"> ➤ </a>
</div>
<div>
    <label>Administrar Pasajeros DONT PRESS </label>
    <a class="btn-admini" href="https://www.youtube.com/watch?v=iIO9poJzoxs"> ➤ </a>
</div>

{% endblock %}