{% extends 'layout.html' %} 
{% block content %}
    <div>
        <h1>Vuelo</h1>
        <table border="1" class="table_vuelo">
        <thead>
            <tr>
                <th>Id vuelo</th>
                <th>Fecha Salida</th>
                <th>Hora Salida</th>
                <th>Precio</th>
                <th>Aeropuerto Origen</th>
                <th>Avion</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><!-- Contenido de Id vuelo --></td>
                <td><!-- Contenido de Fecha Salida --></td>
                <td><!-- Contenido de Hora Salida --></td>
                <td><!-- Contenido de Precio --></td>
                <td><!-- Contenido de Aeropuerto Origen --></td>
                <td><!-- Contenido de Avion --></td>
                <td><!-- Contenido de Editar --></td>
                <td><!-- Contenido de Eliminar --></td>
            </tr>  
        </tbody>
        </table>
    </div>
{% endblock %}
