{% extends 'layout.html' %} 
{% block content %}

<form action="/registro_vuelo" class="form-data" method="POST">
  <h1>Creación de vuelos</h1>
  <div class="form-row">
    <div class="column">
      <label for="fechaSalida">Fecha Salida</label>
      <input type="date" name="fechaSalida" required="true" />
    </div>
    <div class="column">
      <label for="horaLlegada">Hora Salida</label>
      <input type="time" name="horaSalida" required="true" />
    </div>
  </div>
  <div class="form-row">
    <div class="column">
      <label for="precio">Precio</label>
      <input type="text" name="precio" class="small-input" required="true" />
    </div>
  </div>
  <div class="form-row">
    <div class="column">
      <label for="avionAsignado">Avión asignado</label>
      <input type="text" name="avionAsignado" required="true" />
    </div>
    <div class="column">
      <label for="aeropuertoDestino">Aeropuerto Destino</label>
      <input type="text" name="aeropuertoDestino" required="true" />
    </div>
  </div>
  <div class="content-button">
    <button class="btn-registe" type="submit">Register</button>
  </div>
</form>

{% endblock %}
