<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AIRLINE SECUS </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}"> 

</head>
<body>
    <div class="container">
        <header class="nav">
            <div class="line">
                <section class="left" >
                    <a href="/">ARILINE SECUS</a>  
                </section>    
                <section class="right">
                    <a href="#">Iniciar Sesion</a>
                </section>
                        
            </div>      
        </header> 
        <div class="PanelBotones">
            <section>
                <button class="boton"> Cliente </button>     
                <button class="boton"> Vuelo </button>
                <a class="boton" href="/registro">Boleto</a>
            </section>      
        </div> 


        <div class = "vista">
            <div>
                <form action="" >
                    <section class="form-data2">
                        <h1>Asignacion de Destino</h1>
                        <div class="form-row2">
                            <div class="top_idvuelo">                          
                                    <label class="top_id_vuelo">Id Vuelo</label>      
                                    <div class="diventradatexto">
                                        <input class="entradatexto" type="text" ">
                                    </div>                                                       
                                    <input type="button" class="botonbuscar" value="Buscar">                                              
                            </div>
                            <div>
                                <table border="1" class="table_vuelo">
                                    <tr>
                                        <th>Destino</th>
                                        <th>Fecha de Salida</th>
                                    </tr>
                                    <tr>
                                        <td>Info del destino</td>
                                        <td>Info de la fecha</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </section>    
                </form>                   
                <section class="form-data2">
                    <form action="">
                        <div class="">
                            <label class="labelClase"> Clase </label>                           
                            <select class="small-input" type="text" >
                                <option value="Economy class">Economy class</option>
                                <option value="Premium Economy class">Premium Economy class</option>
                                <option value="Business">Business</option>
                                <option value="First Class">First Class</option>
                            </select>   
                            <input type="button" class="botonregister" value="Registrar">
                        </div>  
                    </form>
                </section>                 
                

            </div>
        </div>
    </div>    
    
        <footer>
            <div class="PiePagina">
                <p>&copy; 2022 - Todos los derechos reservados.</p>
            </div>
        </footer>
    
</body>
</html>
