{% extends 'layout.html' %} 
{% block content %}
<form action="/flight_selection" method="POST">
  <section class="form-data2">
    <h1>Asignacion de Destino</h1>
    <div class="form-row2">
      <div class="top_idvuelo">
        <label class="top_id_vuelo">Id Vuelo</label>
        <div class="diventradatexto">
          <input
            class="entradatexto"
            type="text"
            name="idVuelo"
            required="true"
          />
        </div>
      </div>
      <div class="">
        <label class="labelClase"> Clase </label>
        <select class="small-input" type="text" name="clase">
          <option value="Economy class">Economy class</option>
          <option value="Premium Economy class">Premium Economy class</option>
          <option value="Business">Business</option>
          <option value="First Class">First Class</option>
        </select>
        <input type="submit" class="botonregister" value="Registrar" />
      </div>
    </div>
  </section>
</form>
<section class="form-data2">
  <div>
    <table border="1" class="table_vuelo">
      <tr>
        <th>Destino</th>
        <th>Fecha de Salida</th>
      </tr>
      <tr>
        <td>Info del destino</td>
        <td>Info de la fecha</td>
      </tr>
    </table>
  </div>
</section>

{% endblock %}
