{% extends 'layout.html' %} 
{% block content %}
<form action="/flight_selection" method="POST">
  <section class="form-data2">
    <h1>Asignacion de Destino</h1>
    <div class="form-row2">
      <div class="top_idvuelo">
        <label class="top_id_vuelo">Id Vuelo</label>
        <div class="diventradatexto">
          <input
            class="entradatexto"
            type="text"
            name="idVuelo"
            required="true"
          />
        </div>
      </div>
      <div class="">
        <label class="labelClase"> Clase </label>
        <select class="small-input" type="text" name="clase">
          <option value="Economy class">Economy class</option>
          <option value="Premium Economy class">Premium Economy class</option>
          <option value="Business">Business</option>
          <option value="First Class">First Class</option>
        </select>
        <input type="submit" class="botonregister" value="Registrar" />
      </div>
    </div>
  </section>
</form>
<section class="form-data2">
  <div>
    <table border="1" class="table_vuelo">
      <thead>
        <tr>
          <th>idVuelo</th>
          <th>Destino</th>
          <th>Fecha de Salida</th>
        </tr>
      </thead>
      <tbody>
        
        {%for info in data%}
        
        {%if info.4 == '1'%}
          <tr>
            <td>
              {{info.0}}
            </td>
            <td>
              {%for info2 in data2%}
              {%if info.5 == info2.0%}
              {{info2.1}}
              {%endif%}
              {%endfor%}
            </td>
            <td>
              {{info.1.strftime("%Y-%m-%d")}}ㅤ{{info.2}}
            </td>
          </tr>
        {%endif%}
        {%endfor%}
       
      </tbody>
      
    </table>
  </div>
</section>

{% endblock %}
