<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AIRLINE SECUS </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style2.css')}}"> 


</head>
<body>
    <div class="container">
        <header class="nav">
            <div class="line">
                <section class="left" >
                    <a href="/">ARILINE SECUS</a>  
                </section>    
                <section class="right">
                    <a href="#">Iniciar Sesion</a>
                </section>
                        
            </div>      
        </header> 
        <div class="PanelBotones">
            <section>
                <a class="boton" href="/client/cliente"> Cliente </button>     
                <a class="boton" href="/flight/vuelo"> Vuelo </button>
                <a class="boton" href="/ticket_passenger/registro">Boleto</a>
            </section>      
        </div> 


        <div class = "vista">
            <div>
                {% block content %}
                
                {% endblock %}
            </div>
            
        </div>
        <a class="boton" href="/administration">Administrar</a>
    </div>    
    
        <footer>
            <div class="PiePagina">
                <p>&copy; 2024 - Todos los derechos reservados.</p>
                <p> SOFT MAT 4-1</p>
                <p> Base de Datos</p>
            </div>
        </footer>
    
</body>
</html>
