<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AIRLINE SECUS </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 

</head>
<body>
    <div class="container">
        <header class="nav">
            <div class="line">
                <section class="left" >
                    <a href="/">ARILINE SECUS</a>  
                </section>    
                <section class="right">
                    <a href="#">Iniciar Sesion</a>
                </section>
                        
            </div>      
        </header> 
        <div class="PanelBotones">
            <section>
                <button class="boton"> Cliente </button>
                <a class="boton" href="crear_vuelo.html">Vuelo</a>
                <a class="boton" href="/registro">Boleto</a>
            </section>      
        </div> 

        <div class="vista">
                <form action="/registrar" method="post">
                <div class="row"> <div class="col-4"> <h2>Datos personales</h2>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" required>

                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" id="apellido" required>

                    <label for="ci">Cédula de identidad:</label>
                    <input type="text" name="ci" id="ci" required>

                    <label for="correo">Correo electrónico:</label>
                    <input type="email" name="correo" id="correo" required>

                    <label for="telefono">Teléfono:</label>
                    <input type="tel" name="telefono" id="telefono" required>

                    </div>
                    <div class="col-6"> <h2>Equipaje</h2>
                    <label for="CantMaletas">Cantidad de Maletas:</label>
                    <input type="number" name="CantMaletas" id="CantMaletas" required>

                    <label for="Peso">Peso:</label>
                    <input type="text" name="Peso" id="Peso" required>
                    </div>
                </div>
                <div class="row"> <div class="col-12"> <input type="submit" value="Registrar">
                    </div>
                </div>
                </form>
            </div>
    </div>    
    
        <footer>
            <div class="PiePagina">
                <p>&copy; 2022 - Todos los derechos reservados.</p>
            </div>
        </footer>
    
</body>
</html>

