<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> AIRLINE SECUS </title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide"> 
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}"> 

</head>
<body>
    <div class="container">
        <header class="nav">
            <div class="line">
                <section class="left" >
                    <a href="/">ARILINE SECUS</a>  
                </section>    
                <section class="right">
                    <a href="#">Iniciar Sesion</a>
                </section>
                        
            </div>      
        </header> 
        <div class="PanelBotones">
            <section>
                <button class="boton"> Cliente </button>     
                <button class="boton"> Vuelo </button>
                <a class="boton" href="/registro">Boleto</a>
            </section>      
        </div> 

        <div class="vista form-data">
            <form action="/registrar" method="post">
                <div class="form-row">
                    <div class="column">
                        <h2>Registro Clientes</h2>
                        <label for="nombre">Nombre:</label>
                        <input type="text" name="nombre" id="nombre" required>
        
                        <label for="ci">CI:</label>
                        <input type="text" name="ci" id="ci" required>
        
                        <label for="telefono">Teléfono:</label>
                        <input type="tel" name="telefono" id="telefono" required>
                    </div>
        
                    <div class="column">
                        <h2>&nbsp;</h2>
                        <label for="apellido">Apellido:</label>
                        <input type="text" name="apellido" id="apellido" required>
        
                        <label for="correo">Correo electrónico:</label>
                        <input type="email" name="correo" id="correo" required>
                    </div>
                </div>
            </form>
            <div class="content-button">
                <button class="btn-register">Registrar</button>
            </div>
        </div>
    </div>
</div>    

       
        <footer>
            <div class="PiePagina">
                <p>&copy; 2022 - Todos los derechos reservados.</p>
            </div>
        </footer>
    
</body>
</html>
