{% extends 'layout.html' %} 
{% block content %}

<form action="{{ url_for('vuelo.registroVuelo')}}" class="form-data" method="POST">
  <h1>Creación de vuelos</h1>
  <div class="form-row">
    <div class="column">
      <label for="fechaSalida">Fecha Salida</label>
      <input type="date" name="fechaSalida" required="true" />
    </div>
    <div class="column">
      <label for="horaSalida">Hora Salida</label>
      <input type="time" name="horaSalida" required="true" />
    </div>
  </div>
  <div class="form-row">
    <div class="column">
      <label for="precio">Precio</label>
      <input type="text" name="precio" class="small-input" required="true" />
    </div>
  </div>
  <div class="form-row">
    <div class="column">
      <label for="avionAsignado">Avión asignado</label>
      <select name="avionAsignado" id="avion">
        <option value="">seleccione una opcion</option>
        {%for avion in aviones%}
        <option value="{{avion.0}}">{{avion.2}}</option>
        {%endfor%}
    </select>
    </div>
    <div class="column">
      <label for="aeropuertoDestino">Aeropuerto Destino</label>
      <select name="aeropuertoDestino" id="aeropuerto">
        <option value="">seleccione una opcion</option>
        {%for aeropuerto in aeropuertos%}
        <option value="{{aeropuerto.0}}">{{aeropuerto.1}}</option>
        {%endfor%}
    </select>
    </div>
  </div>
  <div class="content-button">
    <button class="btn-register" type="submit">Register</button>
  </div>
</form>

{% endblock %}
